
  <ion-header>

    <ion-toolbar>
      <ion-title>
          <ion-grid *ngIf="afAuth.auth.currentUser">
              <ion-row class="ion-align-items-end">
                  <ion-col>
                      <ion-label>Writing Tool </ion-label>
                  </ion-col>

                  <ion-col class="ion-justify-content-center">
                      <ion-icon name="menu" *ngIf="afAuth.auth.currentUser" (click)="openMenu($event)" class="ion-float-right"> </ion-icon> 
                      <ion-text class="userName"> Logged in as: {{afAuth.auth.currentUser.displayName}}  </ion-text> 
                  </ion-col>
              </ion-row>
            </ion-grid>

      </ion-title>
  
    </ion-toolbar>
  </ion-header>



  <ion-content padding>

      <ion-grid *ngIf="!afAuth.auth.currentUser" style="height: 100%">
          <ion-row justify-content-center align-items-center style="height: 80%">
              <firebase-ui></firebase-ui>
          </ion-row>
        </ion-grid>

  </ion-content>
