<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 80%">
      <div>
        <form  class="form" [formGroup]="validations_form"  (ngSubmit)="tryRegister(validations_form.value)">
        
            <ion-item *ngIf="!accountCreated">
              <ion-label  position="floating" color="primary">Email</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
        
            <ion-item *ngIf="!accountCreated">
              <ion-label  position="floating" color="primary">Password</ion-label>
              <ion-input type="password" formControlName="password" required [(ngModel)]="password" > </ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
        
            <ion-item *ngIf="!accountCreated">
              <ion-label  position="floating" color="primary">Confirm Password</ion-label>
              <ion-input type="password" formControlName="confirm_password" pattern="{{password}}" required></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.confirm_password">
                <div class="error-message" *ngIf="validations_form.get('confirm_password').hasError(validation.type) && (validations_form.get('confirm_password').dirty || validations_form.get('confirm_password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            
            <ion-button *ngIf="!accountCreated" class="submit-btn" type="submit"  [disabled]="!validations_form.valid">Register</ion-button>
            <label class="error-message">{{errorMessage}}</label>
            <label class="success-message">{{successMessage}}</label>

        </form>
        
        <p *ngIf="!accountCreated" class="go-to-login">Already have an account? <a (click)="goLoginPage()">Try to Log In.</a></p>
      
      </div>
    </ion-row>
  </ion-grid>

</ion-content>